<header id="header">
    <div class="container">
        <nav class="navigation">
            <button class="hamburger" type="button" id="toggle-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="logo"><img src="./static/img/logo.png" alt="Icoach"></div>
            <div class="menu-main-wrap" id="menu-main">
                <ul class="menu-main">
                    <li>
                        <a class="menu-main__link" href="#s-results">Кейсы</a>
                    </li>
                    <li>
                        <a class="menu-main__link" href="#s-income">Партнерство</a>
                    </li>
                    <li>
                        <a class="menu-main__link" href="#s-specialization">Гарантия</a>
                    </li>
                    <li>
                        <a class="menu-main__link" href="#s-strategy">Разработка стратегии</a>
                    </li>
                    <li>
                        <a class="menu-main__link" href="#s-testimonials">Отзывы</a>
                    </li>
                </ul>
            </div>
            <div class="navigation__phones">
                <a href="tel:+74991124733">+7&nbsp;499&nbsp;112 47 33</a>
                <a href="tel:+442080892847">+44 20 8089 2847</a>
            </div>
        </nav>
    </div>
</header>
